{% extends "../base.html" %}
{% block head %}
<script src="{{ static_url('js/ag-grid-community.min.noStyle.js') }}"></script>
<link rel="stylesheet" href="{{ static_url('css/ag-grid.css') }}">
<link rel="stylesheet" href="{{ static_url('css/ag-theme-alpine.css') }}">
<link rel="stylesheet" href="{{ static_url('css/geography.css') }}">
{% end %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Geografi</h1>
        <div class="container">
            <div id="tree">
            </div>
        </div>
        <div id="deleteModal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Ta bort geografi</p>
                    <button onclick="closeDeleteModal();" class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <p id="deleteText">
                        Är du säker på att du vill ta bort?
                    </p>
                </section>
                <footer class="modal-card-foot">
                    <button id="deleteNodeButton" class="button is-danger" onclick="deleteNode();closeDeleteModal();">Ta
                        bort</button>
                    <button class="button" onclick="closeDeleteModal();">Avbryt</button>
                </footer>
            </div>
        </div>
        <div id="editModal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Byt namn</p>
                    <button onclick="closeEditModal();" class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <input class="input" id="newName" type="text" value="" placeholder="Namn">
                </section>
                <footer class="modal-card-foot">
                    <button id="editNameButton" class="button is-success"
                        onclick="changeNodeName();closeEditModal();">Ok</button>
                    <button class="button" onclick="closeEditModal();">Avbryt</button>
                </footer>
            </div>
        </div>
    </div>
</section>
{% end %}

{% block scripts %}
<script src="{{ static_url('js/geography.js') }}"></script>
<script>
    var swedenID = "";
    var parentID = "";
    {% for country in countries %}
    geodata["{{ country.id }}"] = {
        name: "{{ country.name }}",
        id: "{{ country.id }}"
    };
    if ("{{ country.name }}" === "Sverige") {
        swedenID = "{{ country.id }}";
        addCountry(swedenID, "{{ country.name }}");
    }
    {% end %}
    {% for area in areas %}
    geodata["{{ area.id }}"] = {
        name: "{{ area.name }}",
        id: "{{ area.id }}",
        path: "{{ area.path }}"
    };
    parentID = getParentID("{{ area.id }}", "{{ area.path }}", swedenID);
    addArea("{{ area.id }}", "{{ area.name }}", parentID);
    {% end %}
    {% for municipality in municipalities %}
    geodata["{{ municipality.id }}"] = {
        name: "{{ municipality.name }}",
        id: "{{ municipality.id }}",
        area: "{{ municipality.area_id }}"
    };
    parentID = "{{ municipality.area_id }}";
    if (parentID === "") {
        parentID = swedenID;
    }
    addMunicipality("{{ municipality.id }}", "{{ municipality.name }}", parentID);
    {% end %}
</script>
{% end %}