{% extends "../base.html" %}
{% block head %}
<script src="{{ static_url('js/ag-grid-community.min.noStyle.js') }}"></script>
<link rel="stylesheet" href="{{ static_url('css/ag-grid.css') }}">
<link rel="stylesheet" href="{{ static_url('css/ag-theme-alpine.css') }}">
{% end %}
{% block content %}
<div class="section">
<div class="container">
    <h1 class="title">Roller</h1>
    <p>En roll är egentligen bara en samling av rättigheter. Dessa rättigheter styr vad en användare med rollen har möjlighet att göra inom systemet. Utöver roller så finns det två saker som begränsar användaren. Den första är vilken förening man blivit tilldelad rollen inom. Den andra är om man blivit tilldelad rollen inom ett specifikt geografiskt område. Det betyder att en person som t.ex. får rättigheten att skicka ut mail till medlemmar kan begränsas av att bara kunna skicka mail till medlemmar i en viss förening, som bor inom ett visst geografiskt område.</p>
    <div id="myGrid" style="width: 100%; height: 80vh;" class="ag-theme-alpine"></div>
    <br>
    {% module xsrf_form_html() %}
    <button onclick="saveRoles();" class="button is-success" style="margin-bottom: 1rem;">Spara</button>
    <div id="successNotification" class="notification is-success is-hidden">
        <button type="button" class="delete" onclick="hide('successNotification');"></button>
        <p id="successText"></p>
    </div>
    <div id="errorNotification" class="notification is-danger is-hidden">
        <button type="button" class="delete" onclick="hide('errorNotification');"></button>
        <p id="errorText"></p>
    </div>
</div>
</div>
{% end %}

{% block scripts %}
<script src="{{ static_url('js/checkbox-renderer.js') }}"></script>
<script type="text/javascript" charset="utf-8">
    // specify the columns
    var columnDefs = [
        {
            headerName: "ID",
            field: "id",
            hide: true
        },
        {
            headerName: "Namn på roll",
            field: "name"
        },
        {% for permission in permissions %}
        {
            headerName: "{{ permission.name }}",
            field: "{{ permission.id }}",
            cellRenderer: 'checkboxRenderer',
            resizable: true
        },
        {% end %}
    ];

    // specify the data
    var rowData = [
        {% for role in roles %}
        {
            id: "{{ role.id }}",
            name: "{{ role.name }}",
            {% for permission in permissions %}
            {{ permission.id }}: {
                checked: {{ "true" if permission in permissions_by_role[role.id] else "false"}},
                disabled: false
            },
            {% end %}
        },
        {% end %}
    ];

    // let the grid know which columns and what data to use
    var gridOptions = {
        columnDefs: columnDefs,
        rowData: rowData,
        components: {
            checkboxRenderer: CheckboxRenderer
        }
    };

    // lookup the container we want the Grid to use
    var eGridDiv = document.querySelector('#myGrid');

    // create the grid passing in the div to use together with the columns & data we want to use
    new agGrid.Grid(eGridDiv, gridOptions);

    async function sendRequest() {
        let permissions = [];
        for (let index = 2; index < columnDefs.length; index++) {
            permissions.push(columnDefs[index].field);
        }

        let rolesData = {}; 

        gridOptions.api.forEachNode((node, index) => {
            rolesData[node.data.id] = {};
            for (let i = 0; i < permissions.length; i++) {
                rolesData[node.data.id][permissions[i]] = node.data[permissions[i]];
            }
        });

        const response = await fetch("/admin/roles", {
            method: 'PUT',
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'include',
            headers: {
                'Content-Type': 'application/json',
                'X-XSRFToken': document.getElementsByName("_xsrf")[0].value
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'same-origin',
            body: JSON.stringify(rolesData)
        });

        return response;
    }

    function show(ID) {
        document.getElementById(ID).classList.remove('is-hidden');
    }

    function hide(ID) {
        document.getElementById(ID).classList.add('is-hidden');
    }

    function saveRoles() {
        sendRequest()
                .then(response => {
                    if (response.ok) {
                        hide("errorNotification");
                        var successElement = document.getElementById("successText");
                        successElement.innerHTML = "Ändringar sparade";
                        show("successNotification");
                    } else {
                        response.json().then(response => {
                            if (response.error.code >= 400) {
                                hide("successNotification");
                                var errorElement = document.getElementById("errorText");
                                errorElement.innerHTML = response.error.message;
                                show("errorNotification");
                            }
                        });
                    }
                });
    }
</script>
{% end %}
