<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if 'title' in globals() %}
    <title>MemberPort | {{ title }}</title>
    {% else %}
    <title>MemberPort</title>
    {% end %}
    <link rel="stylesheet" href="{{ static_url('css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('fontawesome/css/all.min.css') }}">
    {% block head %}{% end %}
</head>
<body class="has-navbar-fixed-top">
    {% block body %}
    <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{{ static_url('img/vitt_segel.png') }}"
                    width="28" height="28">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="mainNavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    
        <div id="mainNavbar" class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-home" aria-hidden="true"></i>
                    </span>
                    <p> Hem</p>
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <span class="icon">
                            <i class="fas fa-user-alt" aria-hidden="true"></i>
                        </span>
                        <p>Mitt medlemskap</p>
                    </a>
    
                    <div class="navbar-dropdown">
                        <a href="/profile" class="navbar-item">
                            Min profil
                        </a>
                        <a href="/profile#subscriptions" class="navbar-item">
                            Prenumerationer
                        </a>
                        <a href="/profile#memberships" class="navbar-item">
                            Hantera medlemskap
                        </a>
                        <hr class="navbar-divider">
                        <a href="/profile#leaders" class="navbar-item">
                            Mina ledare
                        </a>
                    </div>
                </div>
    
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <span class="icon"><i class="fas fa-comments" aria-hidden="true"></i></span>
                        <p>Kommunikation</p>
                    </a>
    
                    <div class="navbar-dropdown">
                        <a href="https://chat.piratpartiet.se" class="navbar-item">
                            Partichatten
                        </a>
                        <a href="https://mail.piratpartiet.se" class="navbar-item">
                            Min partimail
                        </a>
                        <hr class="navbar-divider">
                        <a href="sendmail.html" class="navbar-item">
                            Skicka mail till medlemmar
                        </a>
                        <a href="sendsms.html" class="navbar-item">
                            Skicka sms till medlemmar
                        </a>
                    </div>
                </div>
    
                <a href="https://bitwarden.piratpartiet.se" class="navbar-item">
                    <span class="icon"><i class="fas fa-key" aria-hidden="true"></i></span>
                    <p>Lösenord</p>
                </a>
    
                <a href="https://docs.piratpartiet.se" class="navbar-item">
                    <span class="icon"><i class="fas fa-file-alt" aria-hidden="true"></i></span>
                    <p>Dokument</p>
                </a>
    
                <a href="https://osticket.piratpartiet.se" class="navbar-item">
                    <span class="icon"><i class="fas fa-receipt" aria-hidden="true"></i></span>
                    <p>OsTicket</p>
                </a>
    
                <a href="https://mediawiki.piratpartiet.se" class="navbar-item">
                    <span class="icon"><i class="fas fa-file-word" aria-hidden="true"></i></span>
                    <p>Wiki</p>
                </a>
    
            </div>
    
            <div class="navbar-end">
                {% if admin is True %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <span class="icon"><i class="fas fa-comments" aria-hidden="true"></i></span>
                        <p>Administration</p>
                    </a>
    
                    <div class="navbar-dropdown">
                        <a href="/admin/organizations" class="navbar-item">
                            Föreningar
                        </a>
                        <a href="/admin/members" class="navbar-item">
                            Medlemmar
                        </a>
                        <hr class="navbar-divider">
                        <a href="/admin/geography" class="navbar-item">
                            Geografi
                        </a>
                        <a href="/admin/roles" class="navbar-item">
                            Roller
                        </a>
                        <a href="/admin" class="navbar-item">
                            Inställningar för MemberPort
                        </a>
                    </div>
                </div>
                {% end %}
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="/kratos/self-service/browser/flows/logout" class="button is-light">
                            Logga ut
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}
    {% end %}
    {% end %}
    {% block scripts %}{% end %}
</body>
</html>
