<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MemberPort | Bli medlem</title>
    <link rel="stylesheet" href="{{ static_url('css/bulma.min.css') }}" />
</head>

<body>
    <section class="hero is-dark is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-white">MemberPort</h3>
                    <p class="subtitle has-text-grey">Member management</p>
                    <div class="box">
                        <figure class="avatar">
                            <img src="{{ static_url('img/logo.svg') }}" >
                        </figure>
                        {% module xsrf_form_html() %}
                        <form action="/kratos/self-service/registration/methods/password?flow={{ flow }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                            <div class="field">
                                <div class="control">
                                    <input name="traits.name.first" class="input is-large" type="text" placeholder="Förnamn" />
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input name="traits.name.last" class="input is-large" type="text" placeholder="Efternamn" />
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input name="traits.email" class="input is-large" type="email" placeholder="E-post" />
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input name="traits.phone" class="input is-large" type="tel" placeholder="Telefonnummer" />
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input name="password" class="input is-large" type="password" placeholder="Lösenord" />
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input name="traits.postal_address.street" class="input is-large" type="text" placeholder="Gatuadress" />
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input name="traits.postal_address.postal_code" class="input is-large" type="text" placeholder="Postnummer" />
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input name="traits.postal_address.city" class="input is-large" type="text" placeholder="Postort" />
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <div class="select is-large" style="width: 100%;">
                                        <select id="traits.municipality" name="traits.municipality" style="width: 100%;">
                                            <option disabled selected value>Välj din kommun</option>
                                            {% for municipality in municipalities %}
                                            <option value="{{ municipality.name }}">{{ municipality.name }}</option>
                                            {% end %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <div class="select is-large">
                                        <select id="traits.country" name="traits.country" value="Sverige" onchange="updateMunicipalities()">
                                            {% for country in countries %}
                                            <option value="{{ country.name }}">{{ country.name }}</option>
                                            {% end %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="button is-block is-info is-large is-fullwidth">
                                Sign up
                            </button>
                        </form>
                    </div>
                    {% if error != "" %}
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        {{ error }}
                    </div>
                    {% end %}
                    <p class="has-text-grey">
                        <a href="/auth/login">Logga in</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="{{ static_url('js/api.js') }}"></script>
</html>
