<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MemberPort | Logga in</title>
    <link rel="stylesheet" href="{{ static_url('css/bulma.min.css') }}" />
</head>

<body>
    <section class="hero is-dark is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-white">MemberPort</h3>
                    <p class="subtitle has-text-grey">Member management</p>
                    <div class="box">
                        <figure class="avatar">
                            <img src="{{ static_url('img/logo.svg') }}" >
                        </figure>
                        <form action="/kratos/self-service/login/methods/password?flow={{ flow }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                            <div class="field">
                                <div class="control">
                                    <input name="identifier" class="input is-large" type="email" placeholder="E-mail" autofocus="">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input name="password" class="input is-large" type="password" placeholder="Password">
                                </div>
                            </div>
                            <button type="submit" class="button is-block is-info is-large is-fullwidth">
                                Sign in
                            </button>
                        </form>
                    </div>
                    {% if error != "" %}
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        {{ error }}
                    </div>
                    {% end %}
                    <p class="has-text-grey">
                        <a href="/auth/registration">Bli medlem</a> &nbsp;·&nbsp;
                        <a href="/recovery">Glömt lösenord</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>